<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nothi.androidamenities">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NearPrinterActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".NearMaleWashroomActivity" />
        <activity android:name=".NearFemaleWashroomActivity" />
        <activity
            android:name=".NearMicrowave"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".MicroDetails" />
        <activity android:name=".NearVendingActivity" />
        <activity
            android:name=".NearestinCommons"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".NearestinBusiness"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".NearestinTech"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".help_vending" />
        <activity android:name=".Transaction" />
        <activity android:name=".Settings"></activity>
    </application>

</manifest>